.sidebar{
  width: 250px;
  min-height: 100vh;

  background: linear-gradient(180deg,#1f2a3a,#111827);

  padding: 30px 20px;

  display: flex;
  flex-direction: column;
}

.sidebar-logo{
  color: white;
  margin-bottom: 40px;
}

.sidebar-menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item{
  display: flex;
  align-items: center;
  gap: 12px;

  text-decoration: none;
  color: #cbd5e1;

  padding: 12px 16px;
  border-radius: 12px;

  transition: 0.2s;
}

.menu-item:hover{
  background: rgba(255,255,255,0.05);
  color: white;
}

.menu-item.active{
  background: #ff5a00;
  color: white;
}

.sidebar-footer{
  margin-top: auto;
}

.logout-btn{
  width: 100%;
  padding: 10px;
  border: none;
  background: transparent;
  color: #cbd5e1;
  cursor: pointer;
}

