.header{
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end;

  padding: 0 40px;

  background: #1f2a3a;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.header-user{
  display: flex;
  gap: 15px;
}

.user-info{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.username{
  color: white;
  font-weight: 600;
}

.email{
  color: #94a3b8;
  font-size: 14px;
}

.avatar{
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background: #ff5a00;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}